@font-face {
    font-family: 'Valorant';
    src: url('../formatPage/fonts/ValorantFont.ttf') format('truetype');
  }


  

  h1{
    font-family: Valorant, sans-serif;
    color: #f20c42;
  }

  h3{
    font-family:'Times New Roman', Times, serif;
  color: white;
  font-size:larger;
  font-weight: 1000;
  }


  .spons-conatiner{
    padding:100px;
    background-image: url("../formatPage/img/valoBG.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f20c42;

    
    
  }

  .spons-conatiner--visible{
    opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .spons-conatiner .hello {
    animation: fade-in 0.5s ease-in-out;
  }

 

  .my-list {
    
    list-style-type: circle; /* Custom bullet point style */
  }
  ul{
    /* margin-top: 110px; */
  }

  .hello:hover{
    /* opacity: 0.7; */
  }
  .blurBG{
    height: 700px;
    position:absolute;
    /* z-index: -10; */
    background: #f94555;
  }

  .hello{
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
  margin: 5px;
  /* background-color: blue;
  filter: blur(10px);
  opacity: 50%; */
  
  padding-top: 30px;
  }

  .xyz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width:10vw;
    height:10vh;
  }


  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h2{
    background-color: #f20c42;
    color: wheat;
    overflow: hidden;
  }
