
.main{
  background: #000;
  /* height: 100vh; */
  background-image: url('./img/valoBG.png');
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}
@media ((max-width: 1120px)){
  .main{
    background-image: url('../../assets/mainbgVALO.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:-170px;
  }
}

.mainText{
  color: white;
  text-align: center;
  padding-top: 100px;
}
@font-face {
  font-family: 'Valorant';
  src: url('./fonts/ValorantFont.ttf') format('truetype');
}

h1{
  font-family: Valorant, sans-serif;
  color: #f20c42;
}

.verticalTimelineElementTitle{
  font-family: 'Valorant';
  font-weight: lighter;
  color: #f20c42;
}
.verticalTimelineElementTitle p{
  font-family:'Courier New', Courier, monospace;
  color: #f20c42;
}



