
.main{
  background: #000;
  /* height: 100vh; */
}
.mainText{
  color: white;
  text-align: center;
  padding-top: 100px;
}
@font-face {
  font-family: 'Valorant';
  src: url('./fonts/ValorantFont.ttf') format('truetype');
}

h1{
  font-family: Valorant, sans-serif;
  color: #f20c42;
}

.verticalTimelineElementTitle{
  font-family: 'Valorant';
  font-weight: lighter;
  color: #f20c42;
}



